.main{
    width: 100%;
    display: flex;
    align-self: center;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 100px;
}
body{
     
    background-color:  rgb(223,223,223);
}


.loginform form{
    background-color:  rgb(255, 255, 255);
    padding: 20px;
    padding-top: 40px;
    width: 300px;
    height: 200px;
    /* border: 2px solid red ; */
  
}
.loginform form input{
 padding: 5px 10px;
 border-radius: 10px;
 overflow: hidden;
  
}
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');
*{
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}