*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}




/* Navbar */
#heading{
    width: 90%;
    /* border: 2px solid red; */
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Address & Payment Container */
#address-main {
    display: flex;
    width: 100%;
    /* height: 50vh; */
    /* border: 2px solid red; */
}
#address-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#address-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#payment-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#payment-box {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#order-btn-container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#place-order {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #5BA443;
    border: none;
}